# SPDX-License-Identifier: MIT
# Copyright 2026 Keitark. Maintainer-authored, Claude Code-assisted game.
# Published with maintainer authorization; see examples/fablenes/README.md.
# ld65 config: NROM (mapper 0), 32KB PRG, real 8KB CHR-ROM (baked into the
# .nes file, read-only - compatible with boards/flashcarts that have no CHR
# SRAM). PRG is flat/unbanked $8000-$FFFF; unlike the MMC3 build there is no
# need to split RODATA/CODE across separately-sized fixed banks, so both
# segments just flow into one region.
MEMORY {
    ZP:      start = $0000, size = $0100, type = rw;
    RAM:     start = $0300, size = $0500, type = rw;
    HEADER:  start = $0000, size = $0010, type = ro, fill = yes, file = %O;
    PRG:     start = $8000, size = $7FFA, type = ro, fill = yes, file = %O;
    VECTORS: start = $FFFA, size = $0006, type = ro, fill = yes, file = %O;
    CHR:     start = $0000, size = $2000, type = ro, fill = yes, file = %O;
}
SEGMENTS {
    HEADER:   load = HEADER,  type = ro;
    RODATA:   load = PRG,     type = ro;
    CODE:     load = PRG,     type = ro;
    VECTORS:  load = VECTORS, type = ro;
    CHARS:    load = CHR,     type = ro;
    ZEROPAGE: load = ZP,      type = zp;
    BSS:      load = RAM,     type = bss;
}
